av==9.2.0
streamlit
requests
transformers
gtts
beautifulsoup4
urllib3
speechrecognition
python-dotenv
google-cloud-speech
pyaudio
wit
deepspeech==0.9.3
numpy
pydub
streamlit-webrtc
twilio
